<body>
    <h1>ITEM CREATE</h1>

    <form method="POST" action="/items/create">
        <table>
            <thead>
                <th> </th>
                <th> </th>
                <th> </th>
            </thead>
            <tbody>
                <tr>
                    <td><label for="category">Item Name </label></td>
                    <td>:</td>
                    <td><input name="name" type="text" placeholder="item name.."/></td>
                <tr>
                <tr>
                    <td><label for="category">Item Price </label></td>
                    <td>:</td>
                    <td><input name="price" type="number" placeholder="item price.."/></td>
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                <tr>
                </tr>
                <tr>
                    <td></td>
                    <td></td>
                    <td><button type="submit">Add Item</button></td>
                </tr>
            </tbody>
        </table>
    </form>
</body>