<body>
    <h1> ITEM DETAIL</h1>
    <table>
        <thead>
            <th> </th>
            <th> </th>
            <th> </th>
        </thead>
        <tbody>
            <tr>
                <td><label for="category">Item Name </label></td>
                <td>:</td>
                <td><%= item.name %></td>
            <tr>
            <tr>
                <td><label for="category">Item Price </label></td>
                <td>:</td>
                <td><%= item.price %></td>
            <tr>
            <tr>
                <td><label for="category">Item Category </label></td>
                <td>:</td>
                <td><%= item.category.name %></td>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            <tr>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td><a href="/">BACK</a></td>
            </tr>
        </tbody>
    </table>
    
</body>
